* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 247, 237);
}

article {
  border-radius: 25px;
  background-color: white;
  margin: auto;
  width: 50%;
  padding: 30px;
}

.div-omelette {
  display: flex;
  justify-content: center;
}

.img-omelette {
  max-width: 100%;
  border-radius: 14px;
}

.prep-time {
  background-color: rgba(252, 231, 245, 0.377);
  border-radius: 10px;
  padding: 10px 20px;
}

h1,
h2 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

p,
li,
h3 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 650;
}

h1,
li,
p,
h2,
h3 {
  margin: 20px;
}

h1 {
  font-size: 44px;
  font-weight: 800;
}

h2 {
  font-size: 33px;
  font-weight: 700;
  color: rgb(143, 48, 48);
}

h3 {
  font-weight: 800;
  color: purple;
}

li {
  margin-left: 50px;
}

.nutrition-table {
  margin-top: 40px;
}

.nutri-num-value {
  display: flex;
  justify-content: end;
}
