* {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
  min-width: 362px;
  background-color: black;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* Navigation bar */

nav {
  padding: 30px;
  border: 1px solid grey;
}

nav .challs {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 30px;
  color: white;
}

.challs a:hover {
  background-color: blue;
}

/* Content */

p {
  color: white;
  margin: 50px;
  text-align: center;
}

/* Footer */

footer {
  border-top: 1px solid grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
}

i {
  color: white;
  font-size: 50px;
  margin-top: 16px;
}
