* {
    margin: 0;
    padding:  0;
    scroll-behavior: smooth;
    
}

/* Variables */
:root {
    --color-1: #535C91;
    --color-2: #9290C3;
    --color-3: #070F2B;
    --color-4: #1B1A55;
    
}

/* General */

body {
    color:white;
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-3);
}

section {
    padding: 30px;
    min-height: 80vh;
}


/* Header */
header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 100px;
}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

header nav ul li a:hover {
    color: var(--color-2);
}

/* Banner */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-image:url("../assets/background.jpg");
    background-size: cover;
    color: white;
    padding-left: 150px;
}

#banner img {
    width: 15%;
    position: absolute;
    right: 400px;
    background-color:#070f2b85;
    border-radius: 100%;
    transform: scaleX(-1);
}

#banner h1 {
    font-size: 40px;
}

#banner p {
    width: 48%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

/* Projects / Education */
#projects, #education {
    text-align: center;
}

#projects h2, #education h2, #contact h2 {
    font-size: 30px;
    color: white;
    text-align: center;
}

#projects .projects-grid-container, #education .education-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}

#projects .projects-card, #education .education-card {
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.212);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: var(--color-2);
    transition: 0.3s transform;
}

#projects .projects-card:hover, #education .education-card:hover {
    transform: scale(1.03);
}

#projects .projects-card a, #education .education-card a {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 5px 10px;
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: var(--color-1);
    border-radius: 20px;
    color: white;
}

/* Scroll button */
.scroll-up {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 50px 50px 0;
    font-size: 50px;
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 100%;
    text-decoration: none;
    color: white;
    transition: 0.3s transform;
}

.scroll-up:hover {
    transform: scale(1.1);
}

/* Contact */

#contact h2 {
    margin: 20px;
}

form {
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    margin: auto;
    background-color: var(--color-4);
}

form button {
    background-color: var(--color-1);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input {
    width: 100%;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-2);
    margin: 20px 0;
    font-size: 18px;
}

input::placeholder {
    color: black;
    font-size: 16px;
}

textarea {
    width: 100%;
    border-radius: 3px;
    height: 80px;
    resize: none;
    background-color: var(--color-2);
    margin: 20px 0;
    font-size: 18px;
    font-family: 'Arial';
}

textarea::placeholder {
    color: black;
    font-family:'Arial';
    font-size: 16px;
    padding: 5px 0;
}

textarea::content {
    color: white;
}

button:hover {
    background-color: var(--color-2);
}

/* Footer */

footer {
    text-align: center;
}